# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
venv/
# AWS credentials
.aws/

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.coverage
htmlcov/

# Logs
logs
*.log
*.csv
# Dependencies
node_modules/

.aws-sam/

.DS_Store